<!-- your html code here -->
<!--  michaelrick88 -->
<p>MICHAELRICK88</p>

<div class="border bg-white">

    <div class="container">
        <div class="p-2">
            <h2>Porfolio</h2>
            <p>La programación es el proceso de crear instrucciones lógicas para que una computadora realice tareas
                específicas mediante el uso de lenguajes de código. </p>
        </div>
        <div class="container">
            <div class="row g-4">
                <div class="col-4 p-2"> <img src="https://i.blogs.es/389033/programming/1366_2000.jpg" alt=""
                        class="tamaño-imagen img-fluid">
                </div>
                <div class="col-4 p-2"> <img src="https://i.blogs.es/389033/programming/1366_2000.jpg" alt=""
                        class="tamaño-imagen img-fluid">
                </div>
                <div class="col-4 p-2"> <img src="https://i.blogs.es/389033/programming/1366_2000.jpg" alt=""
                        class="tamaño-imagen img-fluid">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4 ">
                    <h2>Project Name</h2>
                    <p>La programación es el proceso de crear instrucciones lógicas para que una computadora realice
                        tareas
                        específicas mediante el uso de lenguajes de código. </p>
                </div>
                <div class="col-4 ">
                    <h2>Project Name</h2>
                    <p>La programación es el proceso de crear instrucciones lógicas para que una computadora realice
                        tareas
                        específicas mediante el uso de lenguajes de código. </p>
                </div>
                <div class="col-4 ">
                    <h2>Project Name</h2>
                    <p>La programación es el proceso de crear instrucciones lógicas para que una computadora realice
                        tareas
                        específicas mediante el uso de lenguajes de código. </p>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="style.css">
</div>